@font-face {
  font-family: HFNSSV;
  src: url("./HFNSSvector1.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #030907;
}
.footer-text {
  color: #b0a69a;
  text-align: center;
  font-size: 4em;
  font-family: HFNSSV;
  margin-bottom: 0px;
  margin-top: 50px;
}
.point {
  font-family: HFNSSV;
  color: #b0a69a;
  font-size: 4em;
  margin: 0;
  line-height: 1em;
}
.point.lil-big {
  font-size: 6em;
}
.point.big {
  font-size: 11em;
  text-align: center;
}
.point.sub-header {
  text-align: center;
}
.point.outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.point.lil-small {
  font-size: 3em;
}
.point.small {
  font-size: 2em;
}
.point.blue {
  color: #175cfe;
}
.point.ignorable {
  color: #54574d;
}
.point.blink {
  animation: blink-animation 5s steps(3, start) infinite;
  -webkit-animation: blink-animation 5s steps(3, start) infinite;
}
.main-container {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
}
.root {
  min-height: 100%;
}
.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.body {
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.footer-buffer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #131610;
  background: #06120e;
}
.header-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #131610;
  background: #06120e;
  z-index: 5;
}
.header-bar {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.button {
  font-family: HFNSSV;
  color: #b39f4b;
  font-size: 3em;
  margin: 8px;
  float: left;
  cursor: pointer;
  text-decoration: none;
}
.button.small {
  font-size: 2em;
  margin-left: 0px;
  margin-right: 16px;
}
.button.lit {
  color: #e3d34b;
}
.button:hover {
  color: #e3d34b;
}
.button.footer {
  float: none;
  text-align: center;
}
.main-video {
  min-height: 400px;
  width: 100%;
  min-width: 1440px;
}
.services-video {
  width: 996px;
  height: auto;
  border: 2px solid #54574d;
}
.block {
  margin-top: 100px;
  height: 450px;
}
.chadtech-title {
  font-family: HFNSSV;
  color: #807872;
  font-size: 2em;
  margin: 8px;
  float: left;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 32px;
}
.chadtech-block {
  height: 200px;
  position: relative;
}
.chadtech-pic {
  border: 2px solid #54574d;
  height: 250px;
  margin-top: -39px;
  width: auto;
}
.chadtech-text-container {
  position: absolute;
  left: 259px;
  top: 0px;
}
.chadtech-links-container {
  position: absolute;
  left: 259px;
  top: 0px;
  width: 500px;
  justify-content: space-between;
}
.chadtech-body {
  top: 40px;
  position: absolute;
  width: 100%;
}
.background-video {
  width: 100%;
  height: 650px;
  overflow: hidden;
  border-bottom: 2px solid #54574d;
}
.background-video.short {
  height: 425px;
  width: 1000px;
}
.services-video-container {
  padding-top: -100px;
}
@-webkit-keyframes blink-animation {
  from {
    color: #f21d23;
  }
  to {
    color: #b0a69a;
  }
}
@-moz-keyframes blink-animation {
  from {
    color: #f21d23;
  }
  to {
    color: #175cfe;
  }
}
@-webkit-keyframes blink-animation {
  from {
    color: #f21d23;
  }
  to {
    color: #175cfe;
  }
}
@-o-keyframes blink-animation {
  from {
    color: #f21d23;
  }
  to {
    color: #175cfe;
  }
}
@keyframes blink-animation {
  from {
    color: #f21d23;
  }
  to {
    color: #175cfe;
  }
}
