almostBlack = #030907
good        = #366317
prettyBlue  = #175cfe
red         = #f21d23

pointColor      = #b0a69a
importantText   = #b39f4b
importanterText = #e3d34b

ignorable         = #807872
veryIgnorable     = #54574d
veryVeryIgnorable = #2a2c27

background      = #030907
backgroundx2    = #06120e
offBackground   = #0a050d
offBlue         = #143b2e
actualBlack     = #000000

pseudoPointColor = #d0a69a

i3 = #131610

@font-face
  font-family HFNSSV
  src url("./HFNSSvector1.ttf")

body
  margin 0
  padding 0
  background-color almostBlack
  
.point
  font-family HFNSSV
  color pointColor
  font-size 4em
  margin 0
  // margin-bottom 20px
  line-height 1em
  &.big
    font-size 11em
    text-align center
  &.sub-header
    text-align center
  &.outline
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000 
  &.small
    font-size 2em
  &.blue
    color prettyBlue
  &.ignorable
    color veryIgnorable
  &.blink
    animation: blink-animation 5s steps(3, start) infinite;
    -webkit-animation: blink-animation 5s steps(3, start) infinite;

.main-container
  width 100%
  position absolute
  top 50px
  left 0px

.main
  width 1000px
  height 100%
  margin auto
  
.header-bar-container
  position fixed
  top 0
  left 0
  width 100%
  height 50px
  border-bottom 2px solid veryIgnorable
  background almostBlack
  z-index 5
  
.header-bar
  width 1000px
  margin auto
  display flex
  justify-content space-between

.button
  font-family HFNSSV
  color importantText
  font-size 3em
  margin 8px
  float left
  cursor pointer
  text-decoration none
  &.small
    font-size 2em
    margin-left 0px
    margin-right 16px
  &:hover
    color importanterText
    
.main-video
  // width 100%
  min-height 400px
  width 100%
  min-width 1440px


.body
  position absolute
  width 1000px
  top 0
  // border-right 2px solid veryIgnorable
  // border-left 2px solid veryIgnorable 

.block
  margin-top 100px
  height 450px
  
.chadtech-title
  font-family HFNSSV
  color ignorable
  font-size 2em
  margin 8px
  float left
  text-decoration none
  margin-left 0px
  margin-right 32px

.chadtech-block
  height 200px
  position relative
  
.chadtech-pic
  border 2px solid veryIgnorable
  height 250px
  margin-top -39px
  width auto
  
.chadtech-text-container
  position absolute
  left 259px
  top 0px
  
.chadtech-links-container
  position absolute
  left 259px
  top 0px
  width 500px
  justify-content space-between
  
.chadtech-body
  top 40px
  position absolute
  width 100%

.background-video
  width 100%
  height 650px
  overflow hidden
  border-bottom 2px solid veryIgnorable
  // z-index 6

@keyframes blink-animation {
  from {
    color red
  }
  to {
    color prettyBlue
  }
}
@-webkit-keyframes blink-animation {
  from {
    color red
  }
  to {
    color pointColor
  }
}
